.navbar {
  background-color: #f3f2f2;
}

.sidenav {
  height: 100%; 
  width: 250px; 
  padding-top: 20px;
  position: fixed; 
  background-color: #ececec;
}

.body {
  padding-left: 260px;
}

/* On smaller screens (height is less than 450px) change the style of the sidebar*/
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px; width: 100px}
  .sidenav a {font-size: 18px;}
}