.navbar {
  top: 0;
  position: sticky;
  background-color: #f3f2f2;
}

.sidenav {
  height: 100%;
  width: 250px;
  padding-top: 20px;
  position: fixed;
  background-color: #ececec;
}

.body {
  padding-top: 70px;
  padding-left: 260px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/* On smaller screens (height is less than 450px) change the style of the sidebar*/
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px; width: 100px}
  .sidenav a {font-size: 18px;}
}

.card {
  margin: 20px;
  float: left;
  max-width: 22rem;
}

.liveSearchCheckbox {
  margin-right: 30px;
}

.checkboxLabel {
  margin: 0 10px 0 0;
  color: rgba(0,0,0,.5);
  font-size: 14px;
}

.emptyDiv {
padding: 10px 38.5px;
}

#poster-container {
  position: relative;
}

#poster-rating {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 3px 5px 5px 6px;
  font-size: 1.2rem;
  line-height: 1.1;
  color: #fff;
  /* background-color: rgba(240, 240, 240, 0.815); */
  border-radius: 5px;
  box-shadow: 4px 4px 15px rgba(107, 107, 107, 0.3);
}

#title-year {
  font-size: 1rem;
  color: #5f6975;
}

#card-description {
  color: #5f6975;
}

.green {
  background-color: green;
}

.orange {
  background-color: rgb(197, 128, 0);
}

.red {
  background-color: red;
}


